<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a routerLink="" class="navbar-brand">Loc8r</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn()">
          <a routerLink="/login" class="nav-link">Sign-in</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.name}}</a>
          <div class="dropdown-menu">
            <div *ngIf="user.admin">
              <h6 class="dropdown-header">Admin</h6>
              <a class="dropdown-item" routerLink="/profiles">Profile List</a>
              <div class="dropdown-divider"></div>
            </div>
            <a class="dropdown-item" routerLink="/profiles/{{user._id}}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container content mt-5 mb-5">
  <router-outlet></router-outlet>
</div>
<footer class="navbar footer fixed-bottom navbar-expand-md navbar-light">
  <div class="container">
    <small>&copy; Loc8r - Dean Byrne 2021</small>
  </div>
</footer>
