<div class="card p-0 mb-1">
  <div class="card-body">
    <h4 class="card-title">{{ review.author }}
      <app-rating-stars class="float-right" [rating]="review.rating"></app-rating-stars>
    </h4>
    <p class="card-text"><small class="blockquote-footer text-white"><em>"<span [innerHTML]="review.reviewText"></span>"</em></small></p>
    <p class="card-text text-muted float-right m-0"><small class="reviewTimestamp">{{ review.createdOn | date : 'dd/MM/yyyy' }} <small>({{ review.createdOn | date : 'HH:mm' }})</small></small></p>
    <button class="btn btn-sm btn-primary position-absolute mr-1" (click)="deleteReview()" *ngIf="owner"><i class="fa fa-trash"></i></button>
  </div>
  <div class="card-footer p-0" *ngIf="formError">
    <div class="alert alert-danger m-0" role="alert">
      {{formError}}
    </div>
  </div>
</div>
